@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e99401;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}
[class*="lineclamp-3"]{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
[class*="lineclamp-4"]{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
[class*="lineclamp-5"]{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
[class*="lineclamp-6"]{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
[class*="lineclamp-7"]{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

[class*="btn"]{
  background-color: #e99401;
  padding: 1rem 2rem;
  text-align: center;
  color: #262626;
}